 *{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: url(../imgs/1.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    

}
.avatar {
    width: 100px;
    border-radius: 50%;
    position: relative;
    margin-left: 85px;
    margin-bottom: 2px;
} 
.form-box {
    mar
    
}

.login-box {
   
    padding: 60px 30px;
    width: 370px;
    height: 540px;
    background: #000;
    color: #ffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
h1 {
    margin-bottom: 20px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 26px ;
    margin-right: 32px;
}
p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
input {
    width: 95%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 25px;
    color: #fff;
    font-size: 14px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    background: orangered;
    color: #fff;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
}
/* .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
} */

.links a {
    text-decoration: none;
    color: grey;
    line-height: 30px;
    font-size: 16px;
}

.links a:hover {
    color: #ffc107;
}

.links2 a {
    text-decoration: none;
    color: grey;
    line-height: 30px;
    font-size: 16px;
}

/* .links2 a:hover {
    color: #ffc107;
} */
span {
    color:#fff;
}